@font-face {
  font-family: "espresso";
  src: url("http://burglary.neocities.org/MRF-%20fields%20of%20wildflowers.ttf");
}
  
@font-face {
  font-family: "burglary";
  src: url("http://burglary.neocities.org/BEBAS___.TTF");
}

body {
    background-image: url(http://burglary.neocities.org/bg.png);
    padding-top: 75px;
}

a {
    color: #EBB9CD;
    text-decoration: none;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
    text-shadow: 0px;
}

a:hover {
    color: #CAC1DC;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    transition: all 1.5s ease;
    text-shadow: 0px;
}

html, body, a, a:hover {
    cursor: url(http://i.imgur.com/ONVDMqu.png), default;
}

.a {
    background-image: url(http://i.imgur.com/breR4aU.png);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #a3a3a3;
    height: 261px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    width: 450px;
}

.b, .c, .d, .e {
    background-image: url(http://i.imgur.com/breR4aU.png);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px #a3a3a3;
    display: none;
    height: 261px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    width: 450px;
}

default {
    color: #131346;
    display: block;
    font-family: arial;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 12px;
    text-align: justify;
    text-shadow: 0px 0px 0px #7f7f7f;
    text-transform: none;
}

facts {
    background-color: #F7EAEF;
    border-bottom: 0px;
    border-image: repeating-linear-gradient(to right, #EBB9CD, #F2E6EB) 2;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid;
    color: #000;
    display: block;
    font-family: abel;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 11px;
    text-align: justify;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    padding-left: 1px;
}

facts1 {
    color: #000;
    display: block;
    font-family: espresso;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: -5px;
    margin-top: 1px;
    text-shadow: 0px 0px 0px #9F90BD;
    text-transform: lowercase;
}

facts2 {
    color: #131346;
    display: block;
    font-family: abel;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 0px;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: justify;
    text-transform: lowercase;
}

discog {
    color: #000;
    display: block;
    font-family: espresso;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 30px;
    margin-bottom: -10px;
    margin-top: 1px;
    text-shadow: 0px 0px 0px #9F90BD;
    text-transform: lowercase;
}

discog1 {
    background-color: #e6e8f1;
    border-bottom: 0px;
    border-image: repeating-linear-gradient(to right, #9F90BD, #CAC1DC, #e6e8f1) 2;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid;
    color: #000;
    display: block;
    font-family: abel;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 11px;
    text-align: justify;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    padding-left: 1px;
}

discog2 {
    color: #000;
    display: block;
    font-family: arial;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
}

#left {
    float: left;
    text-align: justify;
    width: 49.5%;
}

#right {
    float: right;
    text-align: justify;
    width: 49.5%;
}

#title {
    color: #fafafa;
    font-family: burglary;
    font-size: 55px;
    letter-spacing: 0px;
    line-height: 50px;
    margin-left: 10px;
    text-align: justify;
    text-shadow: 2px 2px 0px #EBB9CD, -2px -2px 0px #F2E6EB;
    text-transform: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

#s-m-t-tooltip {
    color: #131346;
    background-color: #EBB9CD;
    box-shadow: 0 0 0px #aaaaaa;
    font-family: arial;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    margin: 5px 0 0 10px;
    max-width: 200px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    text-align: justify;
    z-index: 999999999999999999;
}

.popup_block {
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    height: 440px;
    left: 53%;
    overflow: auto;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 5px;
    position: fixed;
    top: 50%;
    z-index: 9999;
}

img.btn_close {
    margin: 3 0 0 96%;
}

*html #fade {
    position: absolute;
}

*html .popup_block {
    position: absolute;
}

#fade {
    display: none;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #000;
    height: 100%;
    opacity: 0.75;
    z-index: 9990;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 15px #e6e8f1;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 5px #FFFFFD;
}

::selection {
    color: #131346;
    text-shadow: #CCC 1px 1px 1px;
}

::-moz-selection {
    color: #131346;
    text-shadow: #CCC 1px 1px 1px;
}